<div id="carouselExample" class="carousel slide  mx-5  ">
  <h1 class="text-center">Brands We Deal With</h1>
  <div class="carousel-inner border border-light border-opacity-10 rounded-4">
    <div class="carousel-item  p-0 active">
      <div class="card-group">
        <div class="card">
          <img
            src="assets/img/bst.png"
            class=" w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
        <div class="card">
          <img
            src="assets/img/ha.png"
            class=" w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
        <div class="card">
          <img
            src="assets/img/ifb.avif"
            class=" w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-group">
        <div class="card">
          <img
            src="assets/img/lg.png"
            class="d-block w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
        <div class="card">
          <img
            src="assets/img/lg.png"
            class="d-block w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
        <div class="card">
          <img
            src="assets/img/lg.png"
            class="d-block w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-group ">
        <div class="card">
          <img
            src="assets/img/lg.png"
            class="d-block w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
        <div class="card">
          <img
            src="assets/img/mb.jpg"
            class="d-block w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
        <div class="card">
          <img
            src="assets/img/sm.jpg"
            class="d-block w-100"
            width="500"
            height="160.6"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
