
@mixin mobile {
    @media (max-width: 450px) { 
      @content
    }
  
  }

  .mr{
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .mr{
    @include mobile(){
     margin-right: 0rem !important;
     margin-left: 0rem !important;
    }
  }


.card-img-top{
    border-radius: 50px;
    padding: 20px;
}

.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.card-body{
    padding: 25px;
    margin-top: -15px;
}
    



.btn-primary{
    border-radius: 50px;
    width: 120px;
}

.btn-success{
    width: 60px;
}

.btn-success{
    @include mobile(){
        width: 80px;
    }
}
// .btn-primary:hover{
//     background-color: black;
//     border: none;
// }
.btn-primary:focus{
    background-color: rgb(12, 201, 91);
    border: none;
}

.btn-primary:active{
    background-color: yellow;
}

h3,h5{
    color: rgb(0, 91, 228);
}

.abc{
    height: 60%;
    background-color: #f4f4f4;
    //border-radius: 50px;
}



 .group {
    align-items: flex-start;
    counter-reset: item;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

 .item {
    margin: 0 1.5rem;
    text-align: center;
}

