<div class="container py-0 background-color:black">
    <h1 class="text-center">Popular Services</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

        <div class="col">
            <div class="card">
                <img src="assets/img/img_client.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AC SERVICING</h5>
                    <p class="card-text " >
                        ✅ Door step avaivilaty. 
                      </p>
                     <p class="card-text " >
                              ✅ hustle free service.
                      </p>
                     <p class="card-text " >
                       ✅ one stop solution for all problems.
                     </p>
                </div>
                <div class="mb-5 d-flex justify-content-around">
                    <h3>190$</h3>
                    <button class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/img/img_client.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AC SERVICING</h5>
                    <p class="card-text " >
                       ✅ Door step avaivilaty. 
                     </p>
                    <p class="card-text " >
                             ✅ hustle free service.
                     </p>
                    <p class="card-text " >
                      ✅ one stop solution for all problems.
                    </p>
                </div>
                <div class="mb-5 d-flex justify-content-around">
                    <h3>190$</h3>
                    <button class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/img/img_client.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AC SERVICING</h5>
                    <p class="card-text " >
                        ✅ Door step avaivilaty. 
                      </p>
                     <p class="card-text " >
                              ✅ hustle free service.
                      </p>
                     <p class="card-text " >
                       ✅ one stop solution for all problems.
                     </p>
                </div>
                <div class="mb-5 d-flex justify-content-around">
                    <h3>190$</h3>
                    <button class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/img/img_client.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AC SERVICING</h5>
                    <p class="card-text " >
                        ✅ Door step avaivilaty. 
                      </p>
                     <p class="card-text " >
                              ✅ hustle free service.
                      </p>
                     <p class="card-text " >
                       ✅ one stop solution for all problems.
                     </p>
                </div>
                <div class="mb-5 d-flex justify-content-around">
                    <h3>190$</h3>
                    <button class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/img/img_client.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AC SERVICING</h5>
                    <p class="card-text " >
                        ✅ Door step avaivilaty. 
                      </p>
                     <p class="card-text " >
                              ✅ hustle free service.
                      </p>
                     <p class="card-text " >
                       ✅ one stop solution for all problems.
                     </p>
                </div>
                <div class="mb-5 d-flex justify-content-around">
                    <h3>190$</h3>
                    <button class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/img/img_client.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AC SERVICING</h5>
                    <p class="card-text " >
                        ✅ Door step avaivilaty. 
                      </p>
                     <p class="card-text " >
                              ✅ hustle free service.
                      </p>
                     <p class="card-text " >
                       ✅ one stop solution for all problems.
                     </p>
                </div>
                <div class="mb-5 d-flex justify-content-around">
                    <h3>190$</h3>
                    <button class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>


    </div>
</div>