<div class="container py-0 background-color:black">
  <h1 class="text-center">Popular Services</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
    <div class="col">
      <div class="card">
        <img src="assets/img/AC_INSTALLATION1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">AC INSTALLATION & SERVICING</h5>
          <p class="card-text">✅ Door step avaivilaty.</p>
          <p class="card-text">✅ hustle free service.</p>
          <p class="card-text">✅ one stop solution for all problems.</p>
        </div>
        <div class="mb-5 d-flex justify-content-around">
          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            190$
          </button>
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets/img/WaterPurifier-Service1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Water Purifier Repair</h5>
          <p class="card-text">✅ Door step avaivilaty.</p>
          <p class="card-text">✅ hustle free service.</p>
          <p class="card-text">✅ one stop solution for all problems.</p>
        </div>
        <div class="mb-5 d-flex justify-content-around">
            <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            190$
          </button>
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets/img/washing_machine1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Washing Machine Servicing</h5>
          <p class="card-text">✅ Door step avaivilaty.</p>
          <p class="card-text">✅ hustle free service.</p>
          <p class="card-text">✅ one stop solution for all problems.</p>
        </div>
        <div class="mb-5 d-flex justify-content-around">
            <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            190$
          </button>
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets/img/FRIDGE_SERVICE1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Refrigerator & Fridge SERVICING</h5>
          <p class="card-text">✅ Door step avaivilaty.</p>
          <p class="card-text">✅ hustle free service.</p>
          <p class="card-text">✅ one stop solution for all problems.</p>
        </div>
        <div class="mb-5 d-flex justify-content-around">
            <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            190$
          </button>
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets/img/TV_SERVICING1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">TV SERVICING</h5>
          <p class="card-text">✅ Door step avaivilaty.</p>
          <p class="card-text">✅ hustle free service.</p>
          <p class="card-text">✅ one stop solution for all problems.</p>
        </div>
        <div class="mb-5 d-flex justify-content-around">
            <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            190$
          </button>
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets/img/kitchen3.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Kitchen Appliances SERVICING</h5>
          <p class="card-text">✅ Door step avaivilaty.</p>
          <p class="card-text">✅ hustle free service.</p>
          <p class="card-text">✅ one stop solution for all problems.</p>
        </div>
        <div class="mb-5 d-flex justify-content-around">
            <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            190$
          </button>
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Price Breakup</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead>
              <tr >
                <th scope="col">#</th>
                <th scope="col" colspan="2">Element</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-danger">
                <th scope="row">1</th>
                <td colspan="2">Maintanance</td>
                <td><p> &#8377; 500</p></td>
              </tr>
              <tr class="table-warning">
                <th scope="row">2</th>
                <td colspan="2">Service Cost</td>
                <td><p> &#8377; 500</p></td>
              </tr>
              <tr class="table-success">
                <th scope="row">3</th>
                <td colspan="2">Total</td>
                <td><p> &#8377; 1000</p></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a class="btn btn-primary" href="tel: +919123775955">Call for booking</a>
      </div>
    </div>
  </div>
</div>
