.navbar-nav .nav-link {
    font-family: 'ExtraBold 800', sans-serif; /* Use Roboto font for navbar links */
  }
  .navbar {
    font-size: 1.5rem; /* 1.2 times the parent element's font size */
    color: burlywood;
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
  }