.navbar-nav .nav-link {
    font-family: 'ExtraBold 800', sans-serif; /* Use Roboto font for navbar links */
  }
  .navbar {
    font-size: 1.5rem; /* 1.2 times the parent element's font size */
    color: burlywood;
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
  }


  @mixin mobile {
    @media (max-width: 450px) { 
      @content
    }
  
  }

.dropdown-menu{
  background-color: black;
  margin-left: 90%;
}



.dropdown-menu{
  @include mobile(){
    margin-left:0%;
    margin-right: 80%;
  }
}
.dropdown-item{
  font-size: small;
  color: rgb(255, 255, 255);
  font-weight: bold;
  
}

.dropdown-item:hover{
 
    background-color: rgb(237, 237, 169);
  
  
}


