<!-- marque breaking -->
<div class="row py-2">
  <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pe-md-0 mb-md-1">
    <div
      class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="3rem"
        height="3rem"
        fill="currentColor"
        class="bi bi-megaphone"
        viewBox="0 0 16 16"
      >
        <path
          d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 75 75 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0m-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233q.27.015.537.036c2.568.189 5.093.744 7.463 1.993zm-9 6.215v-4.13a95 95 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A61 61 0 0 1 4 10.065m-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68 68 0 0 0-1.722-.082z"
        />
      </svg>

      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        width="3rem"
        height="3rem"
        fill="currentColor"
        class="bi bi-lightning-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"
        />
      </svg> -->
      <span class="d-none d-md-inline-block">OFFERS</span>
    </div>
  </div>

  <!--Breaking content-->
  <div class="col-10 col-sm-11 col-md-9 col-lg-10 ps-1 ps-md-2">
    <div class="breaking-box pt-2 pb-1 h-16">
      <!--marque-->
      <marquee
        behavior="scroll"
        direction="left"
        onmouseover="this.stop();"
        onmouseleave="this.start();"
      >
        <a class="h6 fw-normal mx-5" href="tel: +919123775955"
          ><span class="position-relative mx-2 badge bg-primary rounded-0"
            >AC</span
          >
          <b> 5 % off from normal rate</b></a
        >
        <a class="h6 fw-normal mx-5 " href="tel: +919123775955">
          <span class="position-relative mx-2 badge bg-primary rounded-0"
            >Refrigerator</span
          >
         <b> First Service Free</b></a
        >
        <a class="h6 fw-normal " href="tel: +919123775955"
          ><span class="position-relative mx-2 badge bg-primary rounded-0"
            >Washing Machine</span
          >
          <b>10% off from second service</b></a
        >
        <!-- <a class="h6 fw-normal" href="#"
          ><span class="position-relative mx-2 badge bg-primary rounded-0"
            >Beauty</span
          >
          Lemon make your skin fresh and glowing</a
        >
        <a class="h6 fw-normal" href="#"
          ><span class="position-relative mx-2 badge bg-primary rounded-0"
            >Sport</span
          >
          5 Takeaways From Elon Musk’s Interview With The Times About Tesla</a
        > -->
      </marquee>
    </div>
  </div>
</div>
<!-- end marque breaking -->
