<swiper-container class="swipe mb-5"  navigation="true">
    <swiper-slide><div class="col">
        <div class="card">
            <img src="../../assets/img/img_client.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">AC SERVICING</h5>
                <p class="card-text " >
                    ✅ Door step avaivilaty. 
                  </p>
                 <p class="card-text " >
                          ✅ hustle free service.
                  </p>
                 <p class="card-text " >
                   ✅ one stop solution for all problems.
                 </p>
            </div>
            <div class="mb-5 d-flex justify-content-around">
                <h3>190$</h3>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
    </div></swiper-slide>
    <swiper-slide><div class="col">
        <div class="card">
            <img src="../../assets/img/img_client.webp"  class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">AC SERVICING</h5>
                <p class="card-text " >
                    ✅ Door step avaivilaty. 
                  </p>
                 <p class="card-text " >
                          ✅ hustle free service.
                  </p>
                 <p class="card-text " >
                   ✅ one stop solution for all problems.
                 </p>
            </div>
            <div class="mb-5 d-flex justify-content-around">
                <h3>190$</h3>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
    </div></swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>